<template>
  <ux-grid>
    <ux-grid-cell xs="4">
      <a route-href="route: contact-photo; params.bind: { id: contact.id }" t="[title]contacts.changePhoto">
        <img class="responsive thumbnail" src.bind="contact.photoUrl" t="[alt]contacts.photo">
      </a>
    </ux-grid-cell>
    <ux-grid-cell xs="8">
      <template if.bind="contact.isPerson">
        <h1>${contact.fullName}</h1>
        <h2>${contact.company}</h2>
      </template>
      <template if.bind="!contact.isPerson">
        <h1>${contact.company}</h1>
      </template>
      <ux-button class="accent" navigate-to="route: contact-edition; params.bind: { id: contact.id }">
        ${'contacts.modify' & t}
      </ux-button>
      <ux-button click.delegate="tryDelete()">
        ${'contacts.delete' & t}
      </ux-button>
    </ux-grid-cell>

    <ux-button navigate-to="contacts">
      ${'contacts.back' & t}
    </ux-button>
  </ux-grid>
</template>
