<template>
  <require from="contacts/elements/form"></require>

  <ux-form validation-renderer="ux-form" submit.delegate="update()" submit-on-enter>
    <ux-grid>
      <ux-grid-cell>
        <h2>${contact.fullName}</h2>
        <contact-form contact.bind="contact" collapse></contact-form>
      </ux-grid-cell>
      <ux-grid-cell>
        <ux-button class="accent" ux-submit>Save</ux-button>
        <ux-button click.delegate="goToDetails()">Cancel</ux-button>
      </ux-grid-cell>
    </ux-grid>
  </ux-form>

</template>
