.page-host {
  max-width: 800px;
  margin: 36px auto 0 auto;
}

img.responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

img.thumbnail {
  border-radius: 8px;
}

ux-list ux-list-item a.list-content {
  color: inherit;
  color: var(--ux-theme--list-foreground, inherit);
}
